body {
    background-color: rgb(14, 14, 14);
} 

#navbar-home {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    align-content: center;
    padding-left: 10vw
}

.navbar-home-logo-collapse {
    margin-left: 44vw;
}

#navbar-home-list {
    display: inline;
}

#navbar-home-text {
    display:inline-block;
    padding:13px;
    padding-top: 15px;
    color: rgb(236, 236, 236);
    padding-left: 50px;
}

#navbar-home-text:hover {
    display:inline-block;
    padding:13px;
    padding-top: 15px;
    color: rgb(170, 170, 170);
    padding-left: 50px;
    background-color: transparent;
}

#navbar-home-text-logo {
    display: inline-block;
    padding-top: 15px;
    padding-left: 20px;
    color: rgb(236, 236, 236);
}

#navbar-custom {
    background-image: none;
    background-color: transparent;
}

.home-title {
    padding-top: 15rem;
    padding-bottom: 50rem;
    padding-left: 10rem;
    color: rgb(236, 236, 236);
    font-family: BwGlennSans-Hairline;
    font-size: 7vw;
}

@font-face {
    font-family: BwGlennSans-Black;
    src: url(/Users/neilloneill/Neill-O-Neill-Website/fonts/BwGlennSansDEMO-Black.otf);
}

@font-face {
    font-family: BwGlennSans-BlackItalic;
    src: url(/Users/neilloneill/Neill-O-Neill-Website/fonts/BwGlennSansDEMO-BlackItalic.otf);
}

@font-face {
    font-family: BwGlennSans-Bold;
    src: url(/Users/neilloneill/Neill-O-Neill-Website/fonts/BwGlennSansDEMO-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: BwGlennSans-BoldItalic;
    src: url(/Users/neilloneill/Neill-O-Neill-Website/fonts/BwGlennSansDEMO-BoldItalic.otf);
    font-weight: bold;
}

@font-face {
    font-family: BwGlennSans-ExtraBold;
    src: url(/Users/neilloneill/Neill-O-Neill-Website/fonts/BwGlennSansDEMO-ExtraBold.otf);
    font-weight: bold;
}

@font-face {
    font-family: BwGlennSans-ExtraBoldItalic;
    src: url(/Users/neilloneill/Neill-O-Neill-Website/fonts/BwGlennSansDEMO-ExtraBoldItalic.otf);
    font-weight: bold;
}

@font-face {
    font-family: BwGlennSans-Hairline;
    src: url(/Users/neilloneill/Neill-O-Neill-Website/fonts/BwGlennSansDEMO-Hairline.otf);
}

@font-face {
    font-family: BwGlennSans-HairlineItalic;
    src: url(/Users/neilloneill/Neill-O-Neill-Website/fonts/BwGlennSansDEMO-HairlineItalic.otf);
}

@font-face {
    font-family: BwGlennSans-Light;
    src: url(/Users/neilloneill/Neill-O-Neill-Website/fonts/BwGlennSansDEMO-Light.otf);
}

@font-face {
    font-family: BwGlennSans-LightItalic;
    src: url(/Users/neilloneill/Neill-O-Neill-Website/fonts/BwGlennSansDEMO-LightItalic.otf);
}

@font-face {
    font-family: BwGlennSans-Medium;
    src: url(/Users/neilloneill/Neill-O-Neill-Website/fonts/BwGlennSansDEMO-Medium.otf);
}

@font-face {
    font-family: BwGlennSans-MediumItalic;
    src: url(/Users/neilloneill/Neill-O-Neill-Website/fonts/BwGlennSansDEMO-MediumItalic.otf);
}

@font-face {
    font-family: BwGlennSans-Regular;
    src: url(/Users/neilloneill/Neill-O-Neill-Website/fonts/BwGlennSansDEMO-Regular.otf);
}

@font-face {
    font-family: BwGlennSans-RegularItalic;
    src: url(/Users/neilloneill/Neill-O-Neill-Website/fonts/BwGlennSansDEMO-RegularItalic.otf);
}

@font-face {
    font-family: BwGlennSans-Thin;
    src: url(/Users/neilloneill/Neill-O-Neill-Website/fonts/BwGlennSansDEMO-Thin.otf);
}

@font-face {
    font-family: BwGlennSans-ThinItalic;
    src: url(/Users/neilloneill/Neill-O-Neill-Website/fonts/BwGlennSansDEMO-ThinItalic.otf);
}